@use 'styles/mixins' as mixin;
@use 'styles/variables' as variable;

.main {
  font-size:5rem;
  color: black;
  animation: a1 1.5s infinite linear;
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 45%;
  right:45%;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}