@import "styles/common";

@keyframes text-shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

$p-font-sizes: (300px 20px, 480px 22px, 640px 24px, 700px 26px, 1024px 28px);

.shaking {
  text-transform: uppercase;
  animation: text-shake 0.5s infinite;
  transition: ease-in-out;
  @include adjustment($font-size, $h1-font-sizes);
}

.card-body {
  @include adjustment($margin-size, $margin-sizes);
  @include adjustment($font-size, $p-font-sizes);
}
