@import 'styles/common';

$padding-sizes: (
  100px: 20%,
  480px: 30%,
  640px: 40%,
  700px: 20%,
  1024px: 15%,
);

.landing-page {
  @extend .main;
  display: flex;
  flex-direction: row;
  @include adjustment(padding,$padding-sizes);
}

$sizes: (
  740px:100%,
  1024px: 80%,
  1200px: 60%
);

.center {
  text-align: center;
}

.my-photo {
  @media only screen and (max-width: 740px) {
    display: none;
  }
  @include adjustment(width,$sizes);
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: contrast(180%);
  text-align: center;
}

.text-animation {
  max-width: 40ch;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  color: white;
  font-size: 2rem;
  @media only screen and (max-width: 300px) {
    font-size: 1.7rem;
  }
  margin-right: 2%;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.text-animation span {
  opacity: 0;
  filter: blur(4px);
  @include transition(5);
}
