.card-desc{
    display: block;
    width: 50%;
    margin: auto;
}

.card-desc-title {
    margin-top: 20px;
    font-size: 4vw;
    color: whitesmoke;
    background-color: mediumaquamarine;
    box-shadow: 8px 8px black;
    margin-bottom: 20px;
}

.card-content {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    /* text-align: justify; */
}

.card-content-item {
    margin-bottom: 10px;
}

.card-link-item {
    margin-right: 10px;
    text-decoration: underline;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
    .card-content {
        text-align: justify;
    }
}