.card-desc{
    display: block;
    width: 50%;
    margin: auto;
}

.card-desc-title {
    font-size: 6vw;
    color: whitesmoke;
    background-color: grey;
}

.hr-style {
    border-top: 1px solid whitesmoke;
}

.card-content {
    font-size: 1em;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.card-content-item {
    margin-bottom: 10px;
}

.card-link-item {
    margin-right: 10px;
    text-decoration: underline;
    margin-bottom: 10px;
}
