.bg-color {
    background-color: mediumaquamarine;
}

.brandName {
    color: whitesmoke;
    font-size: 2vw;
}

.icon-color {
    color: black;
}

.font-color {
    color: rgb(46, 45, 45)
}

.route-div {
    margin-top: 30%;
}

@media only screen and (max-width: 680px) {
    .header-navbar {
        font-size: 2.5vw;
    }
}