.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

 body {
  background: #fd746c;  
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c); 
  background: linear-gradient(to right, #ff9068, #fd746c); 
 }
