@import 'styles/mixins';
@import 'styles/variables';
$font-sizes: (700px 1.5rem, 1400px 2rem);
.main {
  background-color: rgb(240,240,240);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  @include adjustment($font-size, $font-sizes);
}

.inline-buttons {
  display: flex;
  justify-content: space-evenly;
}
