@import 'styles/mixins';
@import 'styles/variables';
$font-sizes: (700px 1.5rem, 1400px 2rem);
.main {
  background-color: #dfcfbe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include adjustment($font-size, $font-sizes);
}
