$navbar-height: 3.5rem;
$footer-height: 4rem;
$base-color: grey;

$h1-font-sizes: (320px 20px, 480px 30px, 640px 33px, 700px 38px, 1024px 42px);

$margin-sizes: (100px 2%, 480px 4%, 640px 6%, 700px 8%, 1024px 10%);
$font-size: font-size;
$margin-size: margin;
$width-size: width;
$inner-color: white;
$stroke-color: black;
