html,
body {
  padding: 0;
  background-color: #dddddd;
  font-family: 'avenir, roboto, noto, ubuntu, ' helvetica neue
    ', helvetica, arial, sans-serif';
  line-height: 1.5;
  color: black;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  word-spacing: 1rem;
}

.normal-font-weight {
  font-weight: 300;
}

.main-container {
  margin: 20% auto;
  width: auto;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
