html,
body {
  padding: 0;
  background-color: white;
  line-height: 1.5;
  color: black;
  text-align: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: all 0.5s linear;
  margin: 0% 2%;
}

a:hover {
  color: coral;
}
