@import 'mixins';

$base-color: grey;

$h1-font-sizes: (
  null: 28px,
  480px: 40px,
  640px: 33px,
  700px: 38px,
  1024px: 42px,
);

@for $i from 1 through 2 {
  .text-hidden-#{$i} {
    color: lighten($base-color, $i * 5%);
    @include font-size($h1-font-sizes);
    text-transform: uppercase;
    word-spacing: $i * 1rem;
    opacity: $i * 40%;
    font-weight: $i * 500;
  }
}
