@keyframes button-shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shaking {
  font-size: 30px;
  text-transform: uppercase;
  animation: button-shake 0.5s infinite;
  transition: ease-in-out;
}
