@import 'styles/common';

$margin-li-sizes: (
  100px 1% 0%,
  480px 2% 0%,
  640px 3% 0%,
  700px 4% 0%,
  1024px 5% 0%
);

$todo-font-sizes: (
  280px 8px,
  300px 10px,
  480px 30px,
  640px 33px,
  700px 38px,
  1024px 42px
);

.container {
  @extend .main;
  @include adjustment($font-size, $todo-font-sizes);
  text-align: center;
  ul {
    margin-top: 30px;
    list-style-type: none;
    text-align: left;
  }
}

.todo-input {
  padding: 10px;
}
